@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #2a2a2a;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
} 

i {
    cursor: pointer;
    color: #8f8f95;
    font-size: 18px;
}
i:hover {
    cursor: pointer;
    color: #1C4115;
    font-size: 18px;
}
svg:hover {
    cursor: pointer;
}

button {
    cursor: pointer;
}

::placeholder {
    color: rgb(200, 200, 200);
}

.first-section {
    background-color: #f5ebf1;
    width: 90%;
    height: auto;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.top-text-box {
    width: fit-content;
    height: auto;
}

.top-text-box p {
    font-size: 1.2rem;
    color: #23123d;
}
.empty-state-text {
    font-size: 1.2rem;
    color: #23123d;
    text-align: center;
}

.create-button-box {
    width: 100%;
    height: auto;
}

.create-button-box button {
    background-color: #EC329C;
    color: white;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.create-button-box button:hover {
   background: radial-gradient(circle, rgba(76,72,248,1) 0%, rgba(236,50,156,1) 100%);
    color: white;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* resources section */
.resources-section {
    background-color: #f5ebf1;
    width: 90%;
    height: auto;
    padding: 3rem;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column-reverse;
    column-gap: 1rem;
    row-gap: 1rem;
    position: relative;
}

.resources-section-hide {
    background-color: #f5ebf1;
    width: 90%;
    height: auto;
    padding: 3rem;
    margin: 0 auto;
    border-radius: 1rem;
    display: none;
}

.resource-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;   
}

.emptystate-div {
    display: flex;
    background-color: #f5ebf1;
    align-items: center;
    margin: auto;
    padding: 4rem;
    border-radius: 1rem;
    width: 90%;
    justify-content: center;
}

.emptystate-div-hide{
    display: none;
}

.resource {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

.name-of-website {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1rem;
}

.name-of-website a {
    text-decoration: none;
    color: #EC329C;
    font-weight: 600;
    height: auto;
    width: 90%;
}

.description-of-website {
    width: 100%;
    height: auto;
}

.description-of-website p {
    font-size: 0.8rem;
    color: #444445;
    height: auto;
}

.bottom-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
}

/* Delete overlay section */

.delete-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.delete-overlay-visible {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.delete-popup {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.6rem;
    width: 30%;
}

.delete-popup-button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
    margin-top: 24px
}

.second-button {
    padding: 8px 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 30%;
    color: #fff;
    background-color: #d25d5d;
}
.second-button:hover {
    padding: 8px 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 30%;
    color: #fff;
    background-color: #d73a3a;
}

.first-button {
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    color: #8f8f95;
    background-color: transparent;
}
.first-button:hover {
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    color: #1C4115;
    background-color: transparent;
}

/* share overlay section */
.share-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.share-overlay-visible {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.brand-div {
    width: 36px;
    height: 36px;
}

.share-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: 0.6rem;
    width: 30%;
}
.brands-container {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
}
/* modal overlay section */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-overlay-visible {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.modal {
    background-color: white;
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 0.6rem;
    width: 30%;
}

.close-icon-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 1rem;
}

.close-icon-box i {
    cursor: pointer;
}

.modal-title-box {
    width: 100%;
    height: auto;
    padding: 1rem ;
}

.modal-title-box h3 {
    font-size: 1rem;
    text-align: center;
}

.modal-form {
    width: 100%;
    height: auto;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
}

.labelAndInpt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 0.2rem;
}

label {
    font-size: 0.8rem;
    font-weight: 500;
}

input {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 1rem;
    border: none;
    border: 1px solid #e3e3e3;
    font-size: 12px;
}

textarea {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    border: 1px solid #e3e3e3;
    font-size: 12px;
}

.form-button {
    background-color: #EC329C;
    color: white;
    width: 100%;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.form-button:hover {
    background: radial-gradient(circle, rgba(76,72,248,1) 0%, rgba(236,50,156,1) 100%);
    color: white;
    width: 100%;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.pinned {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* Adjust the z-index as needed */
}

.pin-div {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
  

@media (min-width: 360px) and (max-width: 539px) {
    .first-section {
        padding: 2rem;
    }

    .resources-section {
        padding: 2rem;
        display: flex;
        row-gap: 1rem;
        flex-direction: column-reverse;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .resource {
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 0.3rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
    }

    .modal {
        width: 80%;
    }

    .resource-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;   
    }
}
